{% extends "homepage/father.html" %}

{% block page_title %}{% endblock %}
<div class="content">
               <div class="container">
      <div class="row">
       <div id="contact-form" class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

{% block content1 %}

    <div  style="padding-right: 250px;font-size: 18px;color: #000000;direction: rtl;font-family: BYekan">


            <h1 style="font-size: 30px ;margin-bottom: 13px" >
ایجاد حساب کاربری جدید
  </h1>

            <p style="text-align: right" >
با عضویت در این سایت شما می توانید از تمامی امکا نات بهره مند شوید

            </p>
    {% for m in Ms %}
        <h3>{{ m }}</h3>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3"style="float: right;direction: rtl">
            <form action="/registersave/" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="email">ایمیل:</label>
                    <input type="email" class="form-control box-shadow" id="email" name="email" placeholder="Enter email">
                </div>
                 <div class="form-group">
                    <label for="pw">کلمه عبور: </label>
                    <input type="password" class="form-control" id="pass" accept="" name="pass" placeholder="Password">
                </div>

                <div class="form-group">
                    <label >تاییدکلمه عبور: </label>
                    <input type="password" class="form-control" id="pass2" accept="" name="pass2" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <label >نام:</label>
                    <input type="firstname" class="form-control" id="fn" accept="" name="fn" placeholder="firstname">
                </div>
                 <div class="form-group">
                    <label >نام خانوادگی:</label>
                    <input type="lastname" class="form-control" id="ln" accept="" name="ln" placeholder="lastname">
                </div>
                  <div class="form-group">
                    <label >مدرک تحصیلی:</label>

                    <select class="form-control" id="slt" name="ac"  >
                        <option {% if Member.ac == 'phd'  %} selected{% endif %}>phd</option>
                        <option {% if Member.ac == 'ms'  %} selected{% endif %} >ms</option>
                        <option {% if Member.ac == 'bs'  %} selected{% endif %} >bs</option>
                    </select>
                </div>

















                <input type="submit" value="ثبت" class="btn btn-success btn-lg" style="width: 70px">
            </form>
        </div>



    </div>
</div>

{% endblock content1 %}
       </div>
       <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
          {% block content2 %}
           {% endblock content2 %}
       </div>
      </div>
               </div>
</div>