{% extends "homepage/father.html" %}
{% block page_title %}{% endblock %}



      <div class="content">
               <div class="container">
      <div class="row">
       {% block content1 %}
          <div id="contact-form" class="col-lg-10 col-md-10 col-sm-8 col-xs-12">

            <h1 style="font-size: 30px ;margin-bottom: 13px;text-align: right " >
وارد شدن به حساب کاربری خویش
  </h1>

            <p style="text-align: right" >
با وارد کردن ایمیل وپسورد وارد حساب کاربری خود شوید
.

            </p>
                  <div class="indexinnerbox">
		<table cellpadding="30" cellspacing="30" style="float: right;direction: rtl">
			<tr>
				<td><img src="../../static/images/ProfileTitieIcon.png" width="100" height="100" /></td>
				<td><div id="loginContainerDiv">
             <form id="loginForm" method="post" action="/pedar/" onsubmit="return Authentication.login();" >
                 {% csrf_token %}

            <table align="left" border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td align="left">نام کاربری</td>
                    <td align="right"><input id="uname" value="" name="uname" type="text" /></td>
                </tr>
                <tr>
                    <td align="left">کلمه عبور</td>
                    <td align="right"><input id="upass" type="password" value="" name="upass" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="right">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="white-space:nowrap;">مرا به خاطر بسپار</td>
                                <td align="left">
                                    <input id="LoginautoLogin" type="checkbox" size="10" name="autoLogin" />
                                </td>
                                <td align="left" width="100%">
                                    <input type="submit" class="publicbt" name="Button_DoLogin" value="ورود" id="LoginButton_DoLogin" />
                                    <a href="/register/"  class="btn btn-small btn-success" style="font-family: 'koodak'">بازگشت به صفحه ثبت نام</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2">
                        <a href="/authentication/forgot_pass/">رمز عبور خود را فراموش کرده ام</a>
                    </td>
                </tr>
            </table>
        </form>
    </div></td>
			</tr>
		</table>
	</div>


              {% endblock content1 %}
          <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
              {% block content2 %}
              {% endblock content2 %}
          </div>
          </div>





       </div>
      </div>
      </div>
